/* App.css */

/* General styling */
body {
  overflow: hidden;
  background-color: #E4EDF1 !important;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
.glfuN{
  background-color: #2874F0 !important;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  /* Adjust chatbot bubble padding */
  .rsc-ts-bubble {
    padding-bottom: 20px;
  }

  /* Adjust chatbot container */
  .rsc-ts {
    padding-bottom: 40px;
  }

  /* Adjust card style for smaller screens */
  .cardStyle {
    height: auto;
  }

  /* Adjust card image for smaller screens */
  .cardStyle img {
    height: 150px !important;
  }

  /* Adjust font size for smaller screens */
  .lifvqk {
    font-size: 24px;
  }
}

/* Other existing styles */

.App {
  text-align: center;
}

#root {
  height: 100vh;
}

.rsc-ts-bubble {
  padding-bottom: 40px;
}

.chatbot-container {
  margin: 20px; /* Adjust margins as needed */
  margin-top: 40px;
}
.hDUXUW {
  position: fixed !important;
  bottom: 0;
  width: 100%;
}
.fBGGBn{
  height: 80% !important;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  /* Adjust margins and width for smaller screens */
  .chatbot-container {
    margin: 10px;
  }
}

.chatbot {
  width: 100%; /* Adjust the width to your preference */
  margin: 0 auto; /* Center horizontally */
}
